*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-family: sans-serif;
    background-color: rgba(31, 31, 31, 0.8);
}
.wrapper{
 color: white;
 text-align: center;
 align-items: center;
 padding: 2rem 1em;
}
.wrapper h1{
    padding-bottom: 1rem;
    font-size: 2vw;
}
.deskripsi{
    text-align: center;
    padding: 0.1% 16%;
    margin-bottom: 1%;
    font-size: 0,3vw;
    line-height: 2.5vw;
}
.button_first{
    display: flex;
    gap: 1rem 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button_first a {
    padding: 1rem 2rem;
    font-size: 1vw;
    background-color: rgb(204, 71, 224, 0.2);
    border-radius: .5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button_first a.teaser_button {
    background-color: #D32F2F;
    
}

.button_first a.teaser_button:hover {
    background-color: #ef6a6a;
}



.button_first a.video_button {
    background-color: #D32F2F;
}

.button_first a.video_button:hover {
    background-color: #ef6a6a;
}
.arrow {
    box-sizing: border-box;
    height: 2vw;
    width: 2vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  
#information{
    display: grid;
    padding: 10rem 5rem 10rem 10rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
      
}
#information p{
    text-align: left;
}
video {
  width: 60%;
  height: 60%;
}
#video{
padding-top: 5rem;
}
.wrapper img{
  max-width: 30%;
    height: auto;
    padding-bottom: 2rem;
}
#information img {
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 650px) {
    #information {
      display: block;
      font-size: 80%;
    }
    p {
      position: relative;
      margin: 3rem;
      padding: 1rem;
      background: rgba(white, 0.8);
    }
  }
  #sinopsis{
    padding-top: 10%;
    padding-bottom: 10%;
  }
  #casting-movie h2{
    padding-bottom: 3%;
  }
  /* Create three equal columns that floats next to each other */
.column {
  float:inherit;
  width: 25%;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {

  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#article{
 display: flex;
 box-sizing: border-box;
 justify-content: center;
 flex-wrap: wrap;
}
.card{
  background-color: #000000;
  width: 390px;

  margin:10px;
  border-radius:15px;
}
.card h2{
  text-align: left;
}
.card-image{
  background-color: #ef6a6a;
  height: 150px;
  margin-bottom: 15px;
}
.image-1{
  background-image: url('./image/fotolinkedlist.png');
}
.image-2{
  background-image: url('./image/fotolinkedlist.png');
}
.image-3{
  background-image: url('./image/fotolinkedlist.png');
}
.card h2{
  padding :10px;
}
.card p{
  padding :10px;
  text-align: left;
}
.card a{
  background-color: rgb(224, 10, 10);
  color: #fff;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;

}
.card a:hover{
  background-color: rgb(234, 80, 80);
}
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#casting{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
 }
 .card-2{
  background-color: #ff0000;
  width: 270px;
  margin: 10px;
  border-radius:15px;
}
.card-2 h2{
  text-align: center;
  padding :10px 10px 3px 10px;
}

.card-2 p{

  padding :0px 10px 10px 10px;
  text-align: center;
}
#related-article{
  padding-top: 10%;
}
.col{
  display: flexbox;
}
.col {
  text-align: left;
}